# **COURSE 1**

In [3]:
spam_amount = 0
print(spam_amount)

spam_amount = spam_amount + 4

spam_word = "But I don't want ANY spam!"
if spam_amount > 0:
    print(spam_word)

viking_song = "Spam " * spam_amount
print(viking_song)

0
But I don't want ANY spam!
Spam Spam Spam Spam

In [11]:
spam_koma = 3.14
print(spam_koma)

3.14

In [12]:
print("spam_amount memiliki tipe data: " + str(type(spam_amount)))
print("spam_word memiliki tipe data: " + str(type(spam_word)))
print("spam_koma memiliki tipe data: " + str(type(spam_koma)))

spam_amount memiliki tipe data: <class 'int'>
spam_word memiliki tipe data: <class 'str'>
spam_koma memiliki tipe data: <class 'float'>

In [15]:
# spam_amount = 0
# spam_koma = 3.14

print(spam_amount + spam_koma)
print(spam_amount - spam_koma)
print(spam_amount * spam_koma)
print(spam_amount / spam_koma)

7.140000000000001
0.8599999999999999
12.56
1.2738853503184713

# **COURSE 2**

In [19]:
help(round)
help(spam_word)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

No Python documentation found for "But I don't want ANY spam!".
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [22]:
def least_difference(a, b, c):
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

print(
    least_difference(1, 10, 50),
    least_difference(1, 20, 300),
    least_difference(5, 6, 7),
)

9 19 1

In [23]:
mystery = print()
print(mystery)

None

In [27]:
def greet(who="Kevin Andhika"):
    print("Hello,", who)

greet()
greet(who="Unand")
greet("Informatics")

Hello, Kevin Andhika
Hello, Unand
Hello, Informatics

In [47]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

nomor = (231, 153, 2005)
print(
    'Nomor terbesar dari ', nomor, ' adalah ', max(nomor), '\n'
    'Nomor terbesar dari ', nomor, ' jika dimodulokan dengan 5 adalah ', max(nomor, key=mod_5), '\n'
    '(yang mana hasilnya ', max(nomor, key=mod_5), ' % 5 = ', mod_5(max(nomor, key=mod_5)), ')', sep=""
)

Nomor terbesar dari (231, 153, 2005) adalah 2005
Nomor terbesar dari (231, 153, 2005) jika dimodulokan dengan 5 adalah 153
(yang mana hasilnya 153 % 5 = 3)

# **COURSE 3**

In [49]:
def is_odd(n):
    return (n % 2) == 1

print("Is 200 odd?", is_odd(200))
print("Is -3 odd?", is_odd(-3))

Is 200 odd? False
Is -3 odd? True

In [52]:
def inspect(x):
    if x == 0:
        print(x, "is zero")
    elif x > 0:
        print(x, "is positive")
    elif x < 0:
        print(x, "is negative")
    else:
        print(x, "is unlike anything I've ever seen...")

inspect(23115)
inspect(-32005)
inspect(0)

23115 is positive
-32005 is negative
0 is zero

# **COURSE 4**

In [68]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[0]

'Mercury'

In [57]:
planets[-2]

'Uranus'

In [64]:
planets[1:4]

['Venus', 'Earth', 'Mars']

In [69]:
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [70]:
planets.pop()
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [74]:
a = 2000
b = 1500
print('before: ', a, b)
a, b = b, a
print('after swap: ', a, b)

before:  2000 1500
after swap:  1500 2000

# **COURSE 5**

In [77]:
for planet in planets:
    print(planet, end=' > ')

Mercury > Venus > Earth > Mars > Jupiter > Saturn > Uranus > Neptune >

In [82]:
short_planets = [planet for planet in planets if len(planet) > 6]
short_planets

['Mercury', 'Jupiter', 'Neptune']

In [85]:
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 5]
loud_short_planets

['MARS!']

In [79]:
i = 0
while i < 10:
    print(i, end=' < ')
    i += 1

0 < 1 < 2 < 3 < 4 < 5 < 6 < 7 < 8 < 9 <

In [91]:
def count_negatives(nums):
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

count_negatives([56, -11, -32, 10, 23])

2

# **COURSE 6**

In [92]:
print('Pluto\'s a planet!')
print("That's \"cool\"")
print("Look, a mountain: /\\")

Pluto's a planet!
That's "cool"
Look, a mountain: /\

In [96]:
planet = 'Pluto'
planet[0]

'P'

In [97]:
planet[-3:]

'uto'

In [99]:
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [102]:
datestr = '2025-02-20'
year, month, day = datestr.split('-')

'/'.join([month, day, year])

'02/20/2025'

In [103]:
position = 9
print("{}, you'll always be the {}th planet to me.".format(planet, position))

Pluto, you'll always be the 9th planet to me.

In [104]:
#planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [105]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

# **COURSE 7**

In [111]:
import math as mt

print(format(type(mt)))

<class 'module'>

In [112]:
print("pi to 8 significant digits = {:.8}".format(mt.pi))

pi to 8 significant digits = 3.1415927

In [113]:
mt.log(36, 14)

1.3578783978059856

In [119]:
import numpy as np

rolls = np.random.randint(low=1, high=6, size=10)
rolls.tolist()

[1, 2, 4, 3, 1, 4, 1, 2, 3, 2]

In [122]:
rolls <= 3

array([ True,  True, False,  True,  True, False,  True,  True,  True,
        True])